# Entornos virtuales
.venv/
venv/
env/
ENV/
build/
dist/
SISTEMA_EXTRACCION_DEBUG.spec
SISTEMA_EXTRACCIÓN.spec



# Archivos temporales de Python (Caché)
__pycache__/
*.py[cod]
*$py.class

# Carpetas de configuración de editores (Opcional)
.vscode/
.idea/